.page {
margin: 0;
}
.main-info {
    background: #171717;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1470px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 46px;
padding-bottom: 128px;
}


.contact-tel {
    font-weight: 700;
font-size: 20px;
line-height: 29px;
color: #FFFFFF;
margin-right: 39px;
text-decoration: none;
}

.accent-color {
    color: #D6AF76;
}

.call-back {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
color: #E4B564;
padding-left: 20px;
border: 1px solid #E4B564;
padding: 10px 25px 10px 0;
text-decoration: none;
}

.phone-picture {
        display: inline-block;
    margin-left: 26px;
    margin-right: 10px;
}

.section-title {
    font-weight: 700;
font-size: 50px;
line-height: 28px;
color: #FFFFFF;
margin-top: 0;
margin-bottom: 41px;
}

.section-subtitle {
    width: 1182px;
    font-weight: 700;
font-size: 20px;
line-height: 28px;
color: #FFFFFF;
margin-top: 0;
margin-bottom: 41px;
}

.services {
    margin-top: 0;
    margin-bottom: 161px;
    padding-left: 0;
    list-style-type: none;
    display: grid;
    grid-template-rows: 468px 468px;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 34px;
    row-gap: 27px;
    grid-template-areas: "service-item1 service-item1 service-item2 service-item2 service-item3 service-item3"
    "service-item4 service-item4 service-item4 service-item5 service-item5 service-item5";
text-align: center;

}

.service-item1 {grid-area: service-item1;
    background: #634F2C;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 220px 115px;
    text-align: center;
}
.service-item2 {grid-area: service-item2;
    background: #B4A385;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 220px 115px;
    text-align: center;
}
.service-item3 {grid-area: service-item3;
    background: #E4B564;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 220px 115px;
    text-align: center;
}
.service-item4 {grid-area: service-item4;
    background: #635A4A;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 220px 115px;
    text-align: center;
}
.service-item5 {grid-area: service-item5;
    background: #B08C4D;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 220px 115px;
    text-align: center;
}

.service-item-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.equipment-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    height: 900px;
    font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #FFFFFF;
list-style-type: none;
padding-left: 0;
column-gap: 30px;
}

.equipment-item1 {
    background-color: #0E0E0E;
    width: 467px;
height: 313px;
margin-top: 0;
margin-bottom: 0;
padding: 44px 114px 0 52px;
}
 
.equipment-item2{
    width: 467px;
height: 560px;
background: #1F1F1F;
margin-top: 0;
margin-bottom: 0;
padding: 44px 114px 0 52px;
}

.equipment-item3 {
    width: 467px;
height: 439px;
background: #242424;
margin-top: 0;
margin-bottom: 0;
padding: 44px 114px 0 52px;
}
.equipment-item4 {
    width: 467px;
height: 405px;
    color: #000000;
    background: #E4B564;
    margin-top: 0;
    margin-bottom: 0;
    padding: 44px 114px 0 52px;
}

.equipment-item5 {
    width: 467px;
height: 255px;
background: #1F1F1F;
margin-top: 0;
margin-bottom: 0;
padding: 44px 114px 0 52px;
}

.equipment-item6 {
    width: 467px;
    height: 313px;
background: #0E0E0E;
margin: 0;
padding: 44px 114px 0 52px;
}

.equipment-item7 {
width: 467px;
height: 277px;
background: #0A0909;
margin: 0;
padding: 44px 114px 0 52px;
}

.partners-info {
    background: #0E0E0E;
}

.container {
    padding-top: 172px;
    padding-bottom: 239px;
}

.partners-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 800px;
    padding-left: 0;
    list-style-type: none;
}

.partners-name1 {
    width: 487px;
height: 391px;
background: #634F2C;
padding: 144px 148px;
}

.partners-name2 {
    width: 487px;
height: 391px;
background: #635A4A;
padding: 144px 148px;
}

.partners-name3 {
    width: 486px;
    height: 391px;
background: rgba(232, 210, 171, 0.76);
display: flex;
flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partners-name4 {
    width: 486px;
height: 391px;
background: #B08C4D;
padding: 144px 148px;
}

.partners-name5 {
    width: 487px;
height: 391px;
background: #E4B564;
padding: 144px 148px;
}

.partners-name6 {
    width: 487px;
height: 391px;
background: #634F2C;
padding: 144px 148px;
}

.partners-info-button {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 40px;
text-decoration: none;
align-self: center;
}

.footer {    
    height: 170px;
    background-color: #171717;
}